body {
    background: #f8f6f3;
    font-family: 'Zilla Slab', serif;
    font-size: 48px;
}

.div {
    display: flex;
    max-width: 390px;
    flex-direction: column;
    padding: 36px 23px 23px;
    margin: 0 auto;
    /*! overflow: scroll; */
    overflow-y: auto;
    overflow-x: hidden;
}

.title {
    align-self: end;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.div-3 {
    justify-content: flex-end;
    color: #3d3d3d;
    text-align: right;
    font-size: 40px;
    font-weight: 600;
}

.div-4 {
    color: #3d3d3d;
    text-align: right;
    align-self: end;
    margin-top: 7px;
    white-space: nowrap;
    font-size: 10px;
    font-weight: 600;
}

#boxPiccolo {
    background-image: url("box_piccolo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    margin-bottom: 30px;
}

#boxGrande {
    background-image: url("box_grande.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 510px;
}

.box {
    /*background-color: rgb(255, 255, 255);*/
    align-self: auto;
    display: flex;
    margin-top: 10px;
    width: 95%;
    flex-direction: column;
    padding: 25px 15px 30px;
}

.boxTitle {
    justify-content: flex-end;
    color: #3d3d3d;
    font-size: 24px;
    font-weight: 600;
    margin: 0px 0px 5px;
}

.lineSeparator {
    background-color: #3d3d3d;
    height: 1px;
    flex-shrink: 0;
}

.boxSubtitle {
    justify-content: flex-end;
    color: #3d3d3d;
    margin: 10px 0px 5px;
    font-size: 15px;
    font-weight: 600;
    width: 50%;
    line-height: 1.4;
}

.formDiv {
    display: flex;
    margin-top: 7px;
    justify-content: space-between;
    gap: 5px;
}

.inputBox {
    /*border: 0.5px solid #3d3d3d;*/
    /*background-color: #d9d9d9;*/
    display: flex;
    width: 124px;
    height: 33px;
    flex-direction: column;
    min-width: 0;
}

.submitButton {
    color: #fff;
    text-align: center;
    box-shadow: 3px 4px 4.3px 0px rgba(36, 32, 86, 0.3);
    background-color: #3d3d3d;
    z-index: 1;
    margin: 15px auto 0px;
    width: fit-content;
    padding: 11px 21px;
    font-size: 16px;
    font-weight: 600;
}

.div-19 {
    border: 0.5px solid #3d3d3d;
    background-color: #4b8b3d;
    display: flex;
    margin-top: 8px;
    flex-direction: column;
    align-items: center;
    padding: 16px 55px;
}

.div-20 {
    background-color: #fa0000;
    align-self: stretch;
    display: flex;
    height: 44px;
    flex-direction: column;
}

.div-21 {
    background-color: #fa0000;
    display: flex;
    margin-top: 13px;
    width: 190px;
    height: 206px;
    flex-direction: column;
}

.div-22 {
    background-color: #fa0000;
    align-self: stretch;
    display: flex;
    margin-top: 9px;
    height: 44px;
    flex-direction: column;
}

.form {
    margin: 0;
    height: fit-content;
}

#cameraButton {
    font-size: 57%;
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

input[type="text"] {
    border: 0.5px solid #3d3d3d;
    background-color: #e6e3df;
    height: 33px;
    -webkit-appearance: none;
}

select {
    border: 0.5px solid #3d3d3d;
    background-color: #d9d9d9;
    height: 33px;
    -webkit-appearance: none;
}

.name {
    flex-grow: 2;
    width: 50%;
}
.amount {
    flex-grow: 1;
    width: 25%;
}
.currency {
    flex-grow: 1;
    width: 20%;
}
.picture {
    flex-grow: 0.5;
    width: 30px;
    background: none;
    border: none;
    margin-left: 5px;
    margin-top: -4px;
}

.floatingIcon {
    background-size: cover;
    width: 50px;
    height: 50px;
    filter: drop-shadow(3px 4px 4.3px rgba(36, 32, 86, 0.3));
    margin-top: -30px;
    margin-right: 10px ;
    animation: tilt-shaking 0.8s infinite;
}

#files {
  -webkit-appearance: none;
}

#pigIcon{
    background-image: url("icons8-money-box-94.png");
}

#trophyIcon{
    background-image: url("icons8-winner-94.png");
}

.boxHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}